@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
header .logo {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  flex: 5 1 400px;
}
header .logo img {
  width: 6vw;
  height: 6vw;
}
header nav {
  flex: 2 1 400px;
}
header nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
header nav ul li a {
  color: #09777d;
  text-decoration: none;
  font-size: 1.35rem;
}

main .backimage {
  min-height: 90vh;
  width: 100%;
  background-image: url(../資源包/Pictures/pexels-photo-416676.jpeg);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
main .backimage h3 {
  font-size: 3.5rem;
  color: #fff;
  margin: 2rem 0rem;
}
main .backimage .start {
  background-color: #71E3FC;
  padding: 0.75rem 1.5rem;
  font-size: 1.5rem;
  color: #fff;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}
main .backimage .filter {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  min-height: 90vh;
  position: absolute;
  top: 0;
  z-index: -1;
}
main .second {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
main .second h2 {
  font-size: 2rem;
  margin: 2rem 0rem;
}
main .second .cards {
  display: flex;
  width: 80%;
  list-style-type: none;
  min-height: 80vh;
  flex-wrap: wrap;
}
main .second .cards li {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  flex: 1 1 300px;
}
main .second .cards li img {
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  margin: 1rem 0rem;
}
main .second .cards li h4 {
  font-size: 2rem;
  margin: 1rem 0rem;
}
main .second .cards li p {
  font-size: 1.25rem;
  margin: 1rem 0rem;
}
main .second .cards li a {
  text-decoration: none;
  padding: 1rem 1.5rem;
  background-color: #09777d;
  color: #fff;
  font-size: 1.25rem;
  margin: 1rem 0rem;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 40vh;
  justify-content: space-around;
  background-color: rgb(214, 214, 214);
}
footer .logo {
  display: flex;
  align-items: center;
}
footer .logo img {
  width: 6vw;
  height: 6vw;
}
footer nav {
  width: 30%;
}
footer nav ul {
  display: flex;
  list-style-type: none;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}
footer nav ul li {
  flex-basis: 100px;
}
footer nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.35rem;
  font-weight: 600;
}
footer nav ul li a:hover {
  color: red;
}
footer .link a {
  margin: 0rem 1rem;
}
footer .link a img {
  width: 5vw;
  height: 5vw;
}

@media (max-width: 700px) {
  main .second .cards li img {
    width: 40vw;
    height: 40vw;
  }
}
@media (max-width: 550px) {
  header .logo {
    margin-left: 0.5rem;
  }
  header .logo img {
    width: 15vw;
    height: 15vw;
  }
  footer .logo img {
    width: 15vw;
    height: 15vw;
  }
  footer .link {
    margin-top: 1rem;
  }
  footer .link a img {
    width: 10vw;
    height: 10vw;
  }
}/*# sourceMappingURL=style.css.map */